body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:523px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5873 {
  position:absolute;
  left:-10px;
  top:0px;
  width:543px;
  height:486px;
}
#u5874 {
  position:absolute;
  left:2px;
  top:235px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5875 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:33px;
}
#u5876 {
  position:absolute;
  left:2px;
  top:8px;
  width:529px;
  word-wrap:break-word;
}
#u5877 {
  position:absolute;
  left:193px;
  top:78px;
  width:197px;
  height:36px;
}
#u5877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5877_input:disabled {
  color:grayText;
}
#u5878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5878 {
  position:absolute;
  left:133px;
  top:145px;
  width:43px;
  height:16px;
}
#u5879 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5880 {
  position:absolute;
  left:90px;
  top:88px;
  width:85px;
  height:16px;
}
#u5881 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5882 {
  position:absolute;
  left:188px;
  top:280px;
  width:289px;
  height:123px;
}
#u5882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:123px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5883 {
  position:absolute;
  left:130px;
  top:274px;
  width:43px;
  height:16px;
}
#u5884 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5885 {
  position:absolute;
  left:268px;
  top:424px;
  width:100px;
  height:25px;
}
#u5885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5886 {
  position:absolute;
  left:411px;
  top:424px;
  width:100px;
  height:25px;
}
#u5886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5887 {
  position:absolute;
  left:193px;
  top:135px;
  width:197px;
  height:36px;
}
#u5887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:2px;
}
#u5889 {
  position:absolute;
  left:506px;
  top:16px;
  width:23px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u5890 {
  position:absolute;
  left:2px;
  top:-8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u5891 {
  position:absolute;
  left:506px;
  top:15px;
  width:22px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u5892 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5893 {
  position:absolute;
  left:192px;
  top:188px;
  width:198px;
  height:36px;
}
#u5893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5894 {
  position:absolute;
  left:131px;
  top:190px;
  width:43px;
  height:16px;
}
#u5895 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5896 {
  position:absolute;
  left:190px;
  top:234px;
  width:200px;
  height:36px;
}
#u5896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5897 {
  position:absolute;
  left:131px;
  top:238px;
  width:43px;
  height:16px;
}
#u5898 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
