body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1145px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:848px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:848px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:416px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:151px;
}
#u1292 {
  position:absolute;
  left:33px;
  top:598px;
  width:173px;
  height:151px;
  opacity:0.5;
}
#u1293 {
  position:absolute;
  left:2px;
  top:68px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:151px;
}
#u1294 {
  position:absolute;
  left:211px;
  top:599px;
  width:173px;
  height:151px;
  opacity:0.5;
}
#u1295 {
  position:absolute;
  left:2px;
  top:68px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:151px;
}
#u1296 {
  position:absolute;
  left:390px;
  top:598px;
  width:173px;
  height:151px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:68px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:151px;
}
#u1298 {
  position:absolute;
  left:573px;
  top:598px;
  width:173px;
  height:151px;
  opacity:0.5;
}
#u1299 {
  position:absolute;
  left:2px;
  top:68px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1300 {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:4px;
  width:1141px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1302 {
  position:absolute;
  left:1119px;
  top:4px;
  width:16px;
  height:18px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:199px;
}
#u1304 {
  position:absolute;
  left:829px;
  top:62px;
  width:197px;
  height:199px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:92px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1306 {
  position:absolute;
  left:745px;
  top:288px;
  width:376px;
  height:268px;
  font-size:18px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:490px;
}
#u1308 {
  position:absolute;
  left:10px;
  top:56px;
  width:699px;
  height:490px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:237px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1310 {
  position:absolute;
  left:10px;
  top:471px;
  width:699px;
  height:75px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:30px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1312 {
  position:absolute;
  left:23px;
  top:488px;
  width:34px;
  height:34px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  position:absolute;
  left:79px;
  top:496px;
  width:352px;
  height:18px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:1px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:79px;
  top:496px;
  width:121px;
  height:18px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:1px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1318 {
  position:absolute;
  left:179px;
  top:487px;
  width:40px;
  height:40px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1320 {
  position:absolute;
  left:427px;
  top:493px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1322 {
  position:absolute;
  left:540px;
  top:487px;
  width:40px;
  height:40px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u1324 {
  position:absolute;
  left:606px;
  top:471px;
  width:1px;
  height:75px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:415px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.627450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1326 {
  position:absolute;
  left:10px;
  top:56px;
  width:699px;
  height:415px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:200px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#FFFFFF;
}
#u1328 {
  position:absolute;
  left:632px;
  top:487px;
  width:30px;
  height:24px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#FFFFFF;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1330 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:146px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1331 {
  position:absolute;
  left:290px;
  top:191px;
  width:140px;
  height:146px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:65px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u1333 {
  position:absolute;
  left:332px;
  top:225px;
  width:71px;
  height:75px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:151px;
}
#u1335 {
  position:absolute;
  left:752px;
  top:598px;
  width:173px;
  height:151px;
  opacity:0.5;
}
#u1336 {
  position:absolute;
  left:2px;
  top:68px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:151px;
}
#u1337 {
  position:absolute;
  left:932px;
  top:598px;
  width:173px;
  height:151px;
  opacity:0.5;
}
#u1338 {
  position:absolute;
  left:2px;
  top:68px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u1339 {
  position:absolute;
  left:403px;
  top:648px;
  width:166px;
  height:29px;
  font-size:28px;
  color:#FF0000;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(102, 102, 102, 0.466666666666667);
}
#u1341 {
  position:absolute;
  left:31px;
  top:31px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(102, 102, 102, 0.466666666666667);
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1343 {
  position:absolute;
  left:727px;
  top:31px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1345 {
  position:absolute;
  left:10px;
  top:568px;
  width:73px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:507px;
}
#u1347 {
  position:absolute;
  left:5px;
  top:51px;
  width:1px;
  height:506px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:245px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:2px;
}
#u1349 {
  position:absolute;
  left:5px;
  top:51px;
  width:711px;
  height:1px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:-8px;
  width:707px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:507px;
}
#u1351 {
  position:absolute;
  left:716px;
  top:51px;
  width:1px;
  height:506px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:245px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:2px;
}
#u1353 {
  position:absolute;
  left:5px;
  top:556px;
  width:711px;
  height:1px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:-8px;
  width:707px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:507px;
}
#u1355 {
  position:absolute;
  left:720px;
  top:51px;
  width:1px;
  height:506px;
}
#u1356 {
  position:absolute;
  left:2px;
  top:245px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:2px;
}
#u1357 {
  position:absolute;
  left:720px;
  top:51px;
  width:415px;
  height:1px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:-8px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:507px;
}
#u1359 {
  position:absolute;
  left:1135px;
  top:51px;
  width:1px;
  height:506px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:245px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:2px;
}
#u1361 {
  position:absolute;
  left:720px;
  top:556px;
  width:415px;
  height:1px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:-8px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:198px;
}
#u1363 {
  position:absolute;
  left:5px;
  top:589px;
  width:1px;
  height:197px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:90px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:2px;
}
#u1365 {
  position:absolute;
  left:5px;
  top:589px;
  width:1128px;
  height:1px;
}
#u1366 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:198px;
}
#u1367 {
  position:absolute;
  left:1133px;
  top:589px;
  width:1px;
  height:197px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:90px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:2px;
}
#u1369 {
  position:absolute;
  left:5px;
  top:785px;
  width:1128px;
  height:1px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1371 {
  position:absolute;
  left:123px;
  top:31px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1372 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u1373 {
  position:absolute;
  left:12px;
  top:34px;
  width:16px;
  height:15px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u1375 {
  position:absolute;
  left:16px;
  top:37px;
  width:8px;
  height:9px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u1377 {
  position:absolute;
  left:104px;
  top:35px;
  width:16px;
  height:15px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1379 {
  position:absolute;
  left:34px;
  top:748px;
  width:182px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1381 {
  position:absolute;
  left:211px;
  top:750px;
  width:182px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1383 {
  position:absolute;
  left:389px;
  top:749px;
  width:182px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1385 {
  position:absolute;
  left:570px;
  top:749px;
  width:182px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1387 {
  position:absolute;
  left:752px;
  top:749px;
  width:182px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1389 {
  position:absolute;
  left:931px;
  top:749px;
  width:182px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u1391 {
  position:absolute;
  left:1109px;
  top:649px;
  width:25px;
  height:50px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:1px;
  width:21px;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u1393 {
  position:absolute;
  left:5px;
  top:639px;
  width:25px;
  height:50px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:1px;
  width:21px;
  word-wrap:break-word;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1396_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:34px;
}
#u1396 {
  position:absolute;
  left:485px;
  top:704px;
  width:2px;
  height:31px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u1397 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u1398 {
  position:absolute;
  left:465px;
  top:728px;
  width:15px;
  height:2px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u1399 {
  position:absolute;
  left:2px;
  top:-7px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
